.search-wrapper {
  display: flex;
  justify-content: center;
}

.search-input {
  -webkit-appearance: none !important;
  background-clip: padding-box;
  background-color: white;
  vertical-align: middle;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e5;
  width: 100%;
  font-size: 2rem;

  line-height: 2;
  padding: 0.375rem 1.25rem;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

@media only screen and (min-width: 500px) {
  .search-wrapper {
    width: 30rem;
    justify-self: start;
  }
  .search-input {
  }
}

.suggestions {
  color: white;
  cursor: pointer;
  position: absolute;
  /* height: 30rem; */
  overflow: auto;
  width: 30rem;
}

.suggestions .suggestion {
  border: 1px solid white;
  padding: 2rem;
  background-color: black;
}
